body{
	font-family: 'Baloo Bhaina', cursive;
}

#wrapper {

	height: 1024px;
	width: 600px;
	margin: auto;
	position: relative;
	padding-top: 60px;
}

#left-col {
	background-color: lavender;
}

#right-col {
	background-color: lavenderblush;
}